
//     ____            __     
//    / __ )____  ____/ /_  __
//   / __  / __ \/ __  / / / /
//  / /_/ / /_/ / /_/ / /_/ / 
// /_____/\____/\__,_/\__, /  
//                   /____/   

body{
	margin: 0;
	padding: 0;
	font-family: 'origin';
}