
//     ______            __      
//    / ____/___  ____  / /______
//   / /_  / __ \/ __ \/ __/ ___/
//  / __/ / /_/ / / / / /_(__  ) 
// /_/    \____/_/ /_/\__/____/  
                              
@import "../tokens/_vars.scss";
@import "../tokens/_colors.scss";

@font-face {
    font-family: 'origin';
    src: url('./origin.woff2') format('woff2'),
         url('./origin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}