
//     ______            __      
//    / ____/___  ____  / /______
//   / /_  / __ \/ __ \/ __/ ___/
//  / __/ / /_/ / / / / /_(__  ) 
// /_/    \____/_/ /_/\__/____/  
                              


@font-face {
    font-family: 'default';
    src: url('./opensans-regular-webfont.woff2') format('woff2'),
         url('./opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}