
//     __    _       __       
//    / /   (_)___  / /_______
//   / /   / / __ \/ //_/ ___/
//  / /___/ / / / / ,< (__  ) 
// /_____/_/_/ /_/_/|_/____/  
                           
a{
	color: $color_link;
	text-decoration: none;
	font-size: 1.2rem;
}