
//   _______ __  __         
//  /_  __(_) /_/ /__  _____
//   / / / / __/ / _ \/ ___/
//  / / / / /_/ /  __(__  ) 
// /_/ /_/\__/_/\___/____/  
                         
h1{
    margin-top: 0;
    font-size: 4rem;
}

h2{
    margin-top: 0;
    font-size: 3rem;
}

h3{
    margin-top: 0;
    font-size: 2rem;
}

h4{
    margin-top: 0;
    font-size: 1.5rem;
}

h5{
    margin-top: 0;
    font-size: 1.25rem;
}