
//    _____                 ______              
//   / ___/______________  / / / /_  ____ ______
//   \__ \/ ___/ ___/ __ \/ / / __ \/ __ `/ ___/
//  ___/ / /__/ /  / /_/ / / / /_/ / /_/ / /    
// /____/\___/_/   \____/_/_/_.___/\__,_/_/     
                                             

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
	background: $color_browser_primary;
}
::-webkit-scrollbar-thumb {
    background: $color_browser_secondary;
    border-radius: 20px;
}