
//     __  ___                 _           
//    /  |/  /___ __________ _(_)___  _____
//   / /|_/ / __ `/ ___/ __ `/ / __ \/ ___/
//  / /  / / /_/ / /  / /_/ / / / / (__  ) 
// /_/  /_/\__,_/_/   \__, /_/_/ /_/____/  
//                   /____/                


// Margin General
@for $i from $margin_start through $margin_end {
    .m-#{$i} {
        margin: $margin_unit * $i;
    }
}

// Margin Left
@for $i from $margin_start through $margin_end {
    .ml-#{$i} {
        margin-left: $margin_unit * $i;
    }
}

// Margin Right
@for $i from $margin_start through $margin_end {
    .mr-#{$i} {
        margin-right: $margin_unit * $i;
    }
}

// Margin Top
@for $i from $margin_start through $margin_end {
    .mt-#{$i} {
        margin-top: $margin_unit * $i;
    }
}

// Margin Bottom
@for $i from $margin_start through $margin_end {
    .mb-#{$i} {
        margin-bottom: $margin_unit * $i;
    }
}

.m-0{ 
    margin: 0; 
}

.mt-0{ 
    margin-top: 0; 
}

.mr-0{ 
    margin-right: 0; 
}

.mb-0{ 
    margin-bottom: 0; 
}

.ml-0{ 
    margin-left: 0; 
}

.m-auto{
    margin: auto;
}

.mt-auto{
    margin-top: auto;
}

.mr-auto{
    margin-right: auto;
}

.mb-auto{
    margin-bottom: auto;
}

.ml-auto{
    margin-left: auto;
}