.text-normal{ 
    font-size: 1rem;
    font-weight: normal;
}

.text-small{ 
    font-size: 0.8rem; 
}

.text-bold{
    font-weight: bold;
}

.text-justify{ 
    text-align: justify; 
}

.text-center{
    text-align: center;
}

.text-left{ 
    text-align: left; 
}

.text-right{ 
    text-align: right; 
}

.text-uppercase{ 
    text-transform: uppercase; 
}

.text-lowercase{ 
    text-transform: lowercase; 
}

.text-capitalize{ 
    text-transform: capitalize; 
}