// Principal Colors
$color_primary: #F0FFFF;
$color_secondary: #F5FFFA;
$color_gray: #dedddd;
$color_white: #fffafa;
$color_black: #1d2125;

// Link Colors
$color_link:      #6495ED;

// Browser Colors
$color_browser_primary: #F1F1F1;
$color_browser_secondary: #c1c1c1;

// Focus Colors
$color_azure:   #F0FFFF;
$color_alice:   #F0F8FF;
$color_antique: #FAEBD7;
$color_honey:   #F0FFF0;
$color_beige:   #F5F5DC;
$color_mint:    #F5FFFA;


// Clasic Colors
$color_red:     #DC143C;
$color_green:   #9ACD32;
$color_blue:    #1E90FF;
$color_orange:  #FF7F50;
$color_yellow:  #FFD700;
$color_pink:    #FF1493;
$color_purple:  #8A2BE2;
$color_brown:   #DEB887;

// Shadows Colors
$color_shadow: rgba(0,0,0,.22);