//    ______        __                              
//   / ____/____   / /__  __ ____ ___   ____   _____
//  / /    / __ \ / // / / // __ `__ \ / __ \ / ___/
// / /___ / /_/ // // /_/ // / / / / // / / /(__  ) 
// \____/ \____//_/ \__,_//_/ /_/ /_//_/ /_//____/  
//                                                  


.container {
    width: calc($full_width - 16%);
    height: auto;
    margin: 30px 8% 30px;
    display: flex;
    flex-direction: column;
}

.container-full {
    width: $full_width;
    height: auto;
    display: flex;
    flex-direction: column;
}

.container video, .container-full video{
    width: $full_width;
    object-fit: cover;
}

.col{
    width: $full_width;
    padding: $col_padding;
    margin: 0;
}

.row{
    display: flex;
    padding: $row_padding;
    margin: 0;
}

.move-col-left{
    margin-right: auto;
}

.move-col-right{
    margin-left: auto;
}

@for $i from $column_start through $column_end {
    .col-#{$i} {
        width: $column_unit * $i;
        padding: $col_padding;
        margin: 0;
    }
}

@for $i from $column_start through $column_end {
    .col-xl-#{$i} {
        @media #{$xl} {
            width: $column_unit * $i;
            padding: $col_padding;
            margin: 0;
        }
    }
}

@for $i from $column_start through $column_end {
    .col-lg-#{$i} {
        @media #{$lg} {
            width: $column_unit * $i;
            padding: $col_padding;
            margin: 0;
        }
    }
}

@for $i from $column_start through $column_end {
    .col-md-#{$i} {
        @media #{$md} {
            width: $column_unit * $i;
            padding: $col_padding;
            margin: 0;
        }
    }
}

@for $i from $column_start through $column_end {
    .col-sm-#{$i} {
        @media #{$sm} {
            width: $column_unit * $i;
            padding: $col_padding;
            margin: 0;
        }
    }
}

@for $i from $column_start through $column_end {
    .move-col-#{$i} {
        margin-left: $margin_left * $i;
    }
}

@for $i from $column_start through $column_end {
    .move-col-xl-#{$i} {
        @media #{$xl} {
            margin-left: $margin_left * $i;
        }
    }
}

@for $i from $column_start through $column_end {
    .move-col-lg-#{$i} {
        @media #{$lg} {
            margin-left: $margin_left * $i;
        }
    }
}

@for $i from $column_start through $column_end {
    .move-col-md-#{$i} {
        @media #{$md} {
            margin-left: $margin_left * $i;
        }
    }
}

@for $i from $column_start through $column_end {
    .move-col-sm-#{$i} {
        @media #{$sm} {
            margin-left: $margin_left * $i;
        }
    }
}