
//     ____            __    ___                 
//    / __ \____ _____/ /___/ (_)___  ____ ______
//   / /_/ / __ `/ __  / __  / / __ \/ __ `/ ___/
//  / ____/ /_/ / /_/ / /_/ / / / / / /_/ (__  ) 
// /_/    \__,_/\__,_/\__,_/_/_/ /_/\__, /____/  
//                                 /____/        


// Padding General
@for $i from $padding_start through $padding_end {
    .p-#{$i} {
        padding: $padding_unit * $i;
    }
}

// Padding Left
@for $i from $padding_start through $padding_end {
    .pl-#{$i} {
        padding-left: $padding_unit * $i;
    }
}

// Padding Right
@for $i from $padding_start through $padding_end {
    .pr-#{$i} {
        padding-right: $padding_unit * $i;
    }
}

// Padding Top
@for $i from $padding_start through $padding_end {
    .pt-#{$i} {
        padding-top: $padding_unit * $i;
    }
}

// Padding Bottom
@for $i from $padding_start through $padding_end {
    .pb-#{$i} {
        padding-bottom: $padding_unit * $i;
    }
}

.p-0{ 
    padding: 0; 
}

.pt-0{ 
    padding-top: 0; 
}

.pr-0{ 
    padding-right: 0; 
}

.pb-0{ 
    padding-bottom: 0; 
}

.pl-0{ 
    padding-left: 0; 
}

.p-auto{
    padding: auto;
}

.pt-auto{
    padding-top: auto;
}

.pr-auto{
    padding-right: auto;
}

.pb-auto{
    padding-bottom: auto;
}

.pl-auto{
    padding-left: auto;
}