.section-spacing-1{ 
    margin: $one_unit_spacing 0; 
}

.section-spacing-2{ 
    margin: $two_unit_spacing 0; 
}

.section-spacing-3{ 
    margin: $three_unit_spacing 0; 
}

.section-spacing-4{ 
    margin: $four_unit_spacing 0; 
}