.h1{
    font-size: 4rem;
    font-weight: bold;
}

.h2{
    font-size: 3rem;
    font-weight: bold;
}

.h3{
    font-size: 2rem;
    font-weight: bold;
}

.h4{
    font-size: 1.5rem;
    font-weight: bold;
}

.h5{
    font-size: 1.25rem;
    font-weight: bold;
}